<div class="dash-board">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">All Employees</a></li>
    <li><a href="#tab2" data-toggle="tab">Daily List</a></li>
    <li><a href="#tab3" data-toggle="tab">Daily Summary</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseOne">
              Tab 1
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="row">
              <form class="form-inline my-2 my-lg-0">
                <div class="col"><input class="form-control mr-sm-2" type="search" placeholder="Search"
                    aria-label="Search"></div>
                <div class="col">
                    <select>
                        <option>All Departments</option>
                        <option>option 2</option>
                      </select>
                </div>
                <div class="col">
                    <select>
                        <option>All Status</option>
                        <option>option 2</option>
                      </select>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-success">Search</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-success text-nowrap">Upload Employees</button>
                </div>
              </form>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Employees</th>
                            <th scope="col">Department</th>
                            <th scope="col">Job Title</th>
                            <th scope="col">Employee Status</th>
                            <th scope="col">Patient connection</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                          </tr>
                        </tbody>
                      </table>
                    
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseTwo">
              Tab 2
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
            proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
            aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Anim pariatur
            cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
            non cupidatat skateboard dolor brunch.
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseThree">
              Tab 3
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            Sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
            helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch.
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
